<head>
<title>ホーム画面</title>
</head>


<body>
<!--- タブ表示 --->
<ul class = 'tab_ul'>
    <li class='tab_li'><a href="#tab1" class="current tab_a">全体説明</a></li>
    <li class='tab_li'><a class='tab_a' href="#tab2">ユーザ管理</a></li>
    <li class='tab_li'><a class='tab_a' href="#tab3">メッセージ</a></li>
</ul>
  <div id="contents">
    <div id="tab1">
      <p><strong>01</strong></p>
      <p>
      【開発環境構築】<br>
      ・Dockerfile/docker-compose.ymlを使用した開発環境構築<br>
      【CI】<br>
      ・CircleCiを用いた、Githubへpush時の自動ﾃｽﾄ<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- 'rspec','rubocop'使用<br>
      【ポートフォリオの機能】<br>
      ・ﾛｸﾞｲﾝ<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- sessionによるログイン機能<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- googleアカウントでのログイン機能<br>
      ・ユーザー管理<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- ユーザ登録/編集/削除<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- ユーザmodel バリデーション<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- jqueryによる入力フォームのバリデーション<br>
      ・メッセージ機能<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- modelの多対多のアソシエーションによるコメント機能<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Ajax処理によるコメント投稿/削除<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Active Storageによるﾌｧｲﾙ投稿<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- 添付画像・動画のサムネイル表示<br>
      &nbsp;&nbsp;&nbsp;&nbsp; - kaminariによるページネーション機能<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- ransackによる検索機能<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- csv出力<br>
      </p>
    </div>
    <div id="tab2">
      <p><strong>02</strong></p>
      <p>
        ・ユーザー管理機能使い方
        &nbsp;&nbsp;&nbsp;&nbsp;- ユーザーを自分で作成することができます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- ユーザーを登録・削除・編集することが出来ます<br>
      </p>
    </div>
    <div id="tab3">
      <p><strong>03</strong></p>
      <p>
        ・メッセージ機能使い方
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージが送れます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージに対してファイルが添付出来ます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージに対してコメントが打てます（ファイル添付も可）<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- 表示されているメッセージをCSV出力出来ます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージをマーク（お気に入り）登録出来ます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- 自分が送信したメッセージにだけソートできます<br>
      </p>
    </div>
  </div>
</body>