//comment
.comment{
  position: relative;
  padding:0.5em 0.5em 0.5em 1.4em;
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100vw;
}

.comment_content{
  color: #000;
  padding:0.5em 1.0em 0.5em 1.4em;
}