//画像切替え
.img_change_ul li{
  float: left;
}


/*ﾀﾌﾞ表示*/
  .tab_ul .tab_li{
    float:left;
    margin-right:1px;
    list-style-type:none;
  }
  
  .tab_ul .tab_li .tab_a{
    font-size:1em;
    font-weight:bold;
    color:#FFF;
    text-decoration:none;
    display:block;
    width:120px;
    padding:15px 20px;
    background:#C15757;
  }
  
  .tab_ul .tab_li .tab_a:hover{
    background:#D26161;
    color:#FFF;
  }
  
  .tab_ul .tab_li .tab_a.current{
    background:#F5F4F2;
    color:#C15757;
  }
  
  #contents{
    clear:both;
    margin-bottom:150px;
  }
  
  #contents div{
    padding:30px 20px;
    background:#F5F4F2;
  }
  
  #contents p{
    margin-top:20px;
    line-height:2em;
    color:rgb(0, 0, 0);
  }
  
  #contents strong{
    font-size:4em;
    font-weight:bold;
    color:#D6AF62;
  }
  
//ツールチップ
#tooltip{
  position:absolute;
  border-radius:10px;
  background: #FFF;
}

#tooltip:after{
	content:" ";
	width:0px;
	border-top:18px solid #FFF;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	position:absolute;
	left:50%;
	margin-left:-8px;
}